
<!DOCTYPE html>
<html>
<head>
<title>SignUp</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body *ngIf="isLoading" style="text-align: center;background: white;">
		<app-loading-spinner></app-loading-spinner>
</body>
<body *ngIf="!isLoading">
	<!-- main -->
	<div class="main-w3layouts wrapper" >
		<h1>SignUp Form</h1>
		<div class="main-agileinfo" >	
			<div class="agileits-top">
				<form (ngSubmit)="onSubmit()" >
					<input class="text" type="text" name="username" placeholder="Username" [(ngModel)]="signup.name" required>
					<input class="text email" type="email" name="email" placeholder="Email" [(ngModel)]="signup.email" required>
					<input class="text" type="password" name="password" placeholder="Password" [(ngModel)]="signup.password" required>
                    <input class="text w3lpass" type="password" name="confirm_password" placeholder="Confirm Password" [(ngModel)]="signup.password_confirmation" required>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Already have an Account? <a routerLink="../signin"> Login Now!</a></p>
			</div> 
		</div>
		
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>