<div *ngIf="isLoading" style="text-align: center;background: white;">
		<app-loading-spinner></app-loading-spinner>
</div>
<div class="login-page" *ngIf="!isLoading">
    <div class="form">
      <form class="login-form" (ngSubmit)="onSubmit()">
          <input type="email" placeholder="email" [(ngModel)]="form.email"  name="email" readonly/>
        <input type="password" placeholder="New Password" [(ngModel)]="form.password"  name="password" required/>
        <input type="password" placeholder="Type Password again" [(ngModel)]="form.password_confirmation" name="password_confirmation" required/>
        <button>Set new Password</button>
      </form>
    </div>
  </div>